*/node_modules/*

*/cert.pem
*/key.pem

#unity
UnityPoker/[Ll]ibrary/
UnityPoker/[Tt]emp/
UnityPoker/[Oo]bj/
UnityPoker/[Bb]uild/
UnityPoker/[Bb]uilds/

#server
server/node_modules/

.vs/*

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.zip
.DS_Store